@import "../../node_modules/picnic/picnic.min.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffe9f3;
}
a{
    font-weight: bold;
}
#wrapper {
    width: 98%;
    height: 96%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
h1{
    padding: 0;
    font-size: 2rem;
}

.card{
    height: 100%;
    padding: 10px;
    display: flex;
    border: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff00;
    margin: 0;
}
#background{
    padding: 0;
}
#background img{
    position: absolute;
    min-width: 100%;
    min-height: 100%; 
    max-height: none;
    bottom: 0px;
}
#send{
    font-weight: bold;
    background-color: #000000;
}
#google{
    color: black;
    font-weight: bold;
    background-color: #d1d1d1;
}
#send, #google{
    padding: 10px;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
fieldset{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}
form a{
    text-align: center;
}

footer{
    height: 100%;
}

/* Media query para dispositivos con ancho menor a 800px */
@media (max-width: 800px) {
    #wrapper{
        width: 100%;
        height: 100%;
        /* height: 100vh; */
        min-height: fill-available;
    }
    #background{
        position: absolute;
    }
    #form{
        width: 90%;
        height: 95%;
        overflow-y: scroll;     /* corregir sroll vacio*/
        background-color: #ffffff89;
    }
}